<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <title>Bank Application</title>
</head>
<body>
    <div class="container">
        <h1>My Bank Application</h1>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Address</th>
                <th scope="col">Phone #</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>1</td>
                <td>123 Main Street</td>
                <td>123-456-789</td>
            </tr>
            <tr>
                <td>Michael</td>
                <td>2</td>
                <td>456 Anystreet Circle</td>
                <td>458-896-8524</td>
            </tr>
            <tr>
                <td>Bryan</td>
                <td>3</td>
                <td>789 Refugee Street</td>
                <td>986-246-9836</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>